extends ./layout/index

block contenido

    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, animi neque. Provident sed distinctio quas ducimus tempore quis animi voluptatibus, suscipit labore dicta voluptatem. Facere repudiandae quis vero ipsum explicabo.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi minima animi earum incidunt. Iure recusandae ea culpa, unde repellat nihil incidunt doloremque esse sunt, est porro molestiae fugit tempora at.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique neque provident exercitationem labore harum inventore eligendi quas fugiat commodi sit quisquam animi ratione odit culpa, in natus eaque praesentium facilis?
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus delectus dolore corporis? Natus quasi error perspiciatis, aspernatur expedita vel hic. Tempora veniam in quod dignissimos aliquam corrupti autem ratione. Ratione?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus delectus dolore corporis? Natus quasi error perspiciatis, aspernatur expedita vel hic. Tempora veniam in quod dignissimos aliquam corrupti autem ratione. Ratione?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus delectus dolore corporis? Natus quasi error perspiciatis, aspernatur expedita vel hic. Tempora veniam in quod dignissimos aliquam corrupti autem ratione. Ratione?
